<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header'); %>
    <main>
      <div class="p-5 mb-4 bg-light rounded-3 container-fluid py-5">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS</p>
        <p><%= subtitle %></p>
      </div>
      <ul>
        <% qualities.forEach(function(quality) { %>
        <li><strong><%= quality.title %></strong><%= quality.message %></li>
        <% }) %>
      </ul>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
